.input-select__control{
  height: 40px;
  border-radius: 0.25rem !important;
  border: 1px solid #E1E1E1;
}

.input-select__indicator-separator{
  display: none;
}

.input-select__placeholder {
  color: #9E9E9E;
}