.verbete-filter-container {
    padding: 15px;
    margin-bottom: 20px;
}

.verbete-filter-name-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 10px;
}

.verbete-filter-name-container input {
    border: none;
}

.verbete-filter-name-container input:focus {
    box-shadow: none;
}

.verbete-filter-name-container input::placeholder {
    color: #9E9E9E;
}

.verbete-filter-search-icon {
    border: none;
    background-color: unset;
}

.verbete-filter-bottom-container {
    display: flex;
}

.verbete-filter-category-container {
    flex: 1;
    margin-right: 10px;
}

.btn-verbete-filter-clear {
    font-weight: bold;
    border-radius: 10px;
}

.btn-verbete-filter-word {
    display: none;
}

@media (min-width: 576px) {
    .btn-verbete-filter-word {
        display: unset;
    }
}

@media (min-width: 768px) {
    .btn-verbete-filter-word {
        display: none;
    }
    .verbete-filter-container {
        flex: 1;
    }
    .verbete-filter-form {
        display: flex;
    }
    .verbete-filter-name-container {
        flex: 1;
        margin-right: 20px;
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .btn-verbete-filter-word {
        display: unset;
    }
}