.auth-container {
    display: flex;
    padding: 40px 40px 100px 0;
    justify-content: center;
    background: url(~core/assets/images/auth-background.svg) no-repeat top;
    background-size: 100%;
    height: 91vh;
}

@media (max-width: 768px) {
    .auth-info {
        display: none;
    }
    .auth-container {
        padding: 60px 0 0 0;
    }
}