.container-header {
    margin-top: 30px;
    span {
        margin-right: 3px;
    }
    .title-campo-tematico {
        font-size: 1.7em;
        color: #172b4d;
        font-weight: bold;
    }
    .title-gramatical {
        color: #61bd4f;
        font-weight: bold;
    }
    .title-informacao-descricao {
        font-size: 1.1em;
    }
}

.container-info {
    margin-top: 30px;
    h1 {
        font-size: 1.5em;
        color: #00c2e0;
        font-weight: bold;
    }
    .container-verbets {
        background-color: #ebecf0;
        padding: 10px;
        span {
            margin-right: 3px;
        }
        margin-bottom: 10px;
        .title-tipo-dependencia {
            color: #00c2e0;
            font-weight: bold;
        }
    }
}

.tematic-diagram {
    height: 234px;
    margin-top: 100px;
}

.tematic-diagram-title {
    background-color: var(--gray-100);
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
}

.title-tematics {
    background-color: var(--gray-100);
    margin: 0 auto;
    border-radius: 5px;
    color: var(--grisalle);
    font-weight: bold;
    text-transform: capitalize;
}