.login-form {
    margin-top: 27px;
}

.login-link-recover {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #407bff;
    margin-top: 15px;
    display: block;
}

.login-link-register {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: #407bff;
    margin-left: 10px;
}

.login-submit {
    width: 260px;
    margin: 50px auto;
}

.not-registered {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #9e9e9e;
}