.admin-nav-container {
    width: 200px;
    background-color: #fff;
    height: calc(99vh - 70px);
    footer {
        text-align: center;
        bottom: 0;
        width: 200px;
        position: absolute;
        span,
        a {
            color: #9e9e9e;
            font-size: 12px;
        }
    }
}

.admin-nav-container ul li a {
    height: 60px;
    display: block;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: var(--grisalle);
    text-decoration: none;
    &.active {
        background-color: #dfe6e9;
        color: var(--blue-1000);
    }
    &:hover {
        color: var(--blue-1000);
    }
}

@media (max-width: 768px) {
    .admin-nav-container {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        ul {
            width: 100%;
            display: flex !important;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
    .admin-nav-item {
        width: 200px;
        height: 60px !important;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0 !important;
        background: #f2f2f2;
    }
}