.container {
    .form-contato {
        width: 50%;
        margin: 0 auto;
        background-color: #ebecf0;
        margin-top: 50px;
        border-radius: 10px;
    }
    .btn-mail {
        text-align: center;
        margin-bottom: 20px;
    }
}